
body {
    font-family: Gill Sans, sans-serif;
    background-color: #ffe6f2; 
    text-align: center;
  }
  
  .center {
    border: 2px solid #ff69b4; 
    border-style: inset;
    margin: auto;
    width: 680px;
    padding: 10px;
    color: #333; 
    font-size: 150%;
  }
  
  h1 {
    font-family: Gill Sans, sans-serif;
    color: #ff69b4; 
    margin-top: 20px;
  }
  
  img {
    margin: 20px 0;
    border-radius: 5px;
  }
  
  p {
    color: #333; 
    margin: 0 auto;
    width: 80%;
  }
  
  a {
    color: #ff69b4;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }