body {
    font-family: Gill Sans, sans-serif;
    background-color: rgb(50, 71, 2);
    text-align: center;
  }

  .center {
    border: 3px solid;
    margin: auto;
    width: 770px;
    padding: 10px;
    color: white;
    font-size: 150%;

  }
  a:link,
  a:visited {
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover,
  a:active {
    font-size: 150%;
  }

  h1 {
    font-family: Gill Sans, sans-serif;
    color: white;
  }
