body {
  font-family: Gill Sans, sans-serif;
  background-color: rgb(129, 35, 6);
  text-align: center;
}

.center {
  border: 2px solid;
  margin: auto;
  width: 770px;
  padding: 10px;
  color: rgb(0, 0, 0);
  font-size: 150%;
}

h1 {
  font-family: Gill Sans, sans-serif;
  color: rgb(0, 0, 0);
}
