body {
  font-family: Gill Sans, sans-serif;
  background-color: rgb(129, 61, 40);
  text-align: center;
}

.center {
  border: 2px solid;
  margin: auto;
  width: 700px;
  padding: 5px;
  color: rgb(155, 142, 10);
  font-size: 150%;
}

h1 {
  font-family: Gill Sans, sans-serif;
  color: rgb(155, 142, 10);
}
