body {
  font-family: Gill Sans, sans-serif;
  background-color: rgb(129, 61, 40);
  text-align: center;
}

.center {
  border: 1px solid;
  border-style: inset;
  margin: auto;
  width: 670px;
  padding: 15px;
  color: rgb(220, 148, 54);
  font-size: 150%;
}

h1 {
  font-family: Gill Sans, sans-serif;
  color: rgb(220, 148, 54);
}
