body {
    font-family: Gill Sans, sans-serif;
    background-color: rgb(205, 152, 83);
    text-align: center;
  }

  .center {
    border: 3px solid;
    margin: auto;
    width: 770px;
    padding: 10px;
    color: black;
    font-size: 150%;

  }

  h1 {
    font-family: Gill Sans, sans-serif;
    color: black;
  }
