

body {
    font-family: Arial, sans-serif;
    background-color: #CCCCFF;
    text-align: center;
  }
  
  
  h1 {
    color: #333;
  }
  
 
  h3 {
    color: #666;
  }
  
  /* link button styles */
  .link {
    margin: 10px 0;
  }
  
  .link a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .link a:hover {
    background-color: #0056b3;
  }