body {
  font-family: Gill Sans, sans-serif;
  background-color: rgba(121, 9, 9, 0.928);
  text-align: center;
}

.center {
  border: 2px solid;
  border-style: inset;
  margin: auto;
  width: 580px;
  padding: 10px;
  color: rgb(218, 211, 211);
  font-size: 150%;
}

h1 {
  font-family: Gill Sans, sans-serif;
  color: rgb(218, 211, 211);
}
