body {
  font-family: Gill Sans, sans-serif;
  background-color: rgba(44, 132, 24, 0.891);
  text-align: center;
}

.center {
  border: 2px solid;
  border-style: inset;
  margin: auto;
  width: 480px;
  padding: 10px;
  color: rgb(65, 3, 3);
  font-size: 150%;
}

h1 {
  font-family: Gill Sans, sans-serif;
  color: rgb(65, 3, 3);
}

a:link,
  a:visited {
    color: rgb(65, 3, 3);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
